// Copyright (C) 2025 Roberto Rossini <roberros@uio.no>
//
// SPDX-License-Identifier: MIT

process {
    executor         = 'local'
    resourceLimits   = [ cpus: 4, memory: 15.GB, time: 30.m ]
    containerOptions = "--user root"

    cpus   = { 1    * task.attempt }
    memory = { 3.GB * task.attempt }
    time   = { 30.m * task.attempt }
}

docker {
    enabled = true
}
